<!DOCTYPE html>
<html leng="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  
<div id="root">
</div>

{% load static %}
<script src="{% static 'js/page-template.js' %}"> </script>
{% if auth %}
    {% load static %}
    <script src="{% static 'js/authorization_page.js' %}"></script>
    {% load static %}
    <script src="{% static 'js/authorization_script.js' %}"></script>
{% endif %}
</body>
</html> 